/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require base
 *= require layout
 *= require skeleton
 *= require_self
 */

.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

nav {
  background: #000;
  padding: 12px;
}

nav ul {
  width: 980px;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.main-container {
  width: 720px;
  margin: 0 auto;
  padding: 40px;
}

header {
  margin-bottom: 66px;
}

header h1 {
  line-height: 100px;
  padding: 10px 0 20px 0;
  text-align: center;
  font-size: 100px;
}

header p.subtitle {
  text-align: center;
  margin-right: -310px;
  margin-top: -34px;
  font-size: 23px;
}

.main-container h2 {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 28px;
  padding: 0 0 12px 0;
}

.activities .activity {
  border-bottom: 1px solid #ddd;
  margin: 40px 0;
}

.calendar {
  height: 140px;
  width: 100%;
  margin-top: 30px;
}

.calendar .col:first-child {
  border-left: 1px solid #bebebe;
}


.calendar .col {
  border-top: 1px solid #bebebe;
  width: 13px;
  float: left;
}

.calendar .unit {
  width: 12px;
  height: 12px;
  border-right: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  background: #ccffcc;
}

footer {
  margin-top: 120px;
  font-size: 12px;
}

