<div class="calendar group">
<% date_range.each_slice(ActivitiesHelper::DAY_SLICES) do |slice| %>
  <div class="col">
    <% slice.each_with_index do |day, index| %>
      <div class="unit unit-<%= index %> unit-<%= day %>"></div>
    <% end %>
  </div>
<% end %>
</div>
