<div id="calendar" class="calendar group">
<% date_range.each_slice(ActivitiesHelper::DAY_SLICES) do |slice| %>
  <div class="col">
    <% slice.each_with_index do |day, index| %>
      <%
         entries = activity.entries.select do |e|
           e.created_at.in_time_zone(Time.zone.name).to_date == day
         end
      %>
    <div class="unit unit-<%= index %>"
      data-count="<%= entries.count %>"
      data-date="<%= day.strftime("%B %d, %Y") %>"
      data-complete="<%= entries.count > 0 %>" >
    </div>
    <% end %>
  </div>
<% end %>
</div>
