<footer>
  <p class="copyright">
  &copy;2016 
  <%= link_to "Bryan Mytko", "http:/www.bryanmytko.com" %>
  &hearts; 
  <%= link_to "Github", "https://github.com/bryanmytko/kaizen" %>
  </p>
</footer>
