<nav>
  <ul>
    <li><%= link_to "Login", "#" %></li>
    <li><%= link_to "Signup", "#" %></li>
    <li><%= link_to "About", "#" %></li>
  </ul>
</nav>
<header>
  <h1>かいぜん</h1>
  <h2>Kaizen</h2>
</header>
